.header {
  background-image: url("https://happycoding.io/examples/processing/creating-functions/images/random-faces-2.png");
  background-position: center;
  text-align: center;
  padding: 50px;
  font-size: 36px;
  color: gainsboro;
  opacity: 0.75;
}
